body{font-family: 'Titillium Web', sans-serif;margin: 0;padding:0;overflow-x: hidden;}
p{font-weight: 400;}
h1,h2,h3,h4,h5,h6{font-weight: 700;}
#welcome{background-color:#643a79;}
ul.navbar-nav li a{color:#fff;}
#welcome-text{width: 500px; margin: 0 auto;}
.jumbtron {width:100%;text-align: center;}
#bigbtn{padding: 25px 25px 25px 25px; width: 250px}
#bigbtn {background-color: #eb7d4b; color:#fff;max-width: 100%; }
#service{background-color:#17c2a4;color:#fff;padding:20px;text-align: center;}
#service h3{margin:0 auto;}
#service img{width: 100px; height: 100px;}
#team{background-color:#e7f1f8;text-align: center;}
#team img{width: 170px; height: 170px;}
#team .socials img{display:inline-block; height: 35px; width:35px;}
#skills{background-color:#fff;text-align: center;}
#portfolio{background-color:#ffdd99;text-align: center;}
#portfolio div#btn-group{margin-top:20px;max-width: 100%;}
#portfolio a.active{background-color: #fff;}
#portfolio a{background-color:#ebc985;}
#testimonials{background-color:#d74680;text-align: center;}
#getintouch{background-color:#3c5499;text-align: center;}
#getintouch button[type=submit] {width: 100%;background-color: #4CAF50;  color: white;  padding: 14px 20px;  margin: 8px 0;  border: none;border-radius: 4px;cursor: pointer;}
#getintouch #footer{background-color: #344b8e; }
#getintouch #footer ul{margin:0;padding:0;list-style-type:none; }
#getintouch #footer ul li{display:inline-block;}
#getintouch #footer ul li a{color:#fff;margin-left:44px;}
#getintouch form{margin:auto;}
#getintouch input{background-color: #344b8e;border:none;height: 50px; width:350px;}
#getintouch textarea{background-color: #344b8e;border:none;}
#getintouch input::placeholder { 
  color: #fff;
  opacity: 1; /* Firefox */
}
#getintouch textarea::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
img#line{width:85px;height: 10px;max-width: 100%; }
.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}